<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Show ALl Employee</title>
</head>
<body class="mt-5">
    
    <div class="container mt-2 bg-light" style="border: 1px; border-radius:20px; padding: 10px;">
        <h2 class='text-center'>Add New Employee : <a href='{% url 'add' %}'> <button type=0"submit" class="btn btn-primary">Add Employee</button></a> </h2>
        <table class="table text-center table-hover" style="background-color:white;">
            <tr class="bg-info text-center">
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Created_Date</th>
                <th>Updated_Date</th>
                <th>Action</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td><img src="media/{{i.image}}" height="57px" width="60px" alt="love" class="rounded-circle"></td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.address}}</td>
                <td>{{i.created_date}}</td>
                <td>{{i.updated_date}}</td>
                <td>
                    <a href="update/{{i.id}}/"><button class="btn btn-primary btn-sm">Update</button></a>
                    <a href="delete/{{i.id}}/"><button class="btn btn-danger btn-sm">Delete</button></a>
                    <a href="showview/{{i.id}}/"><button class="btn btn-success btn-sm">View</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>